---
# Drives
DRIVES:
  - UUID: UUID_DISK1
    MOUNT: /mnt/data
    FS: ntfs
  - UUID: UUID_DISK2
    MOUNT: /mnt/backup
    FS: exfat
 - UUID: UUID_DISK3
    MOUNT: /mnt/timemachine
    FS: ntfs

# General
ansible_ssh_private_key_file: ~/.ssh/authorized_keys/
STORAGE: "{{ DRIVES[0]['MOUNT'] }}"
BACKUP: "{{ DRIVES[1]['MOUNT'] }}"
TIMEMACHINE: "{{ DRIVES[2]['MOUNT'] }}"
DISK_ALERT_LIMIT: 80
DISK_PATHS: '"/dev/sdc2" "/dev/sdc3" "/dev/sdb1" "/dev/mmcblk0p1" "/dev/mmcblk0p2"'
USER: USER
USER_PATH: /home/{{ USER }}
TIMEZONE: Europe/Madrid
PUID: 1000 # Run id -u in Raspberry
PGID: 1000 # Run id -g in Raspberry
MEDIA_DIRECTORY_STRUCTURE:
  - shared/torrents/movies
  - shared/torrents/series
  - shared/media/movies
  - shared/media/series
USER_DIRECTORY_STRUCTURE:
  - /scripts/cron
TELEGRAM:
  TOKEN: YOUR_TOKEN
  CHAT_ID: 1234567

# Containers
SAMBA:
  - USER: USER1
    PASS: 123456
  - USER: USER2
    PASS: 123456

PIHOLE_WEB_PASS: PiholePass