---
# Drives
DRIVES:
  - UUID: UUID_DISK1
    MOUNT: /mnt/data
    FS: ntfs
  - UUID: UUID_DISK2
    MOUNT: /mnt/backup
    FS: exfat
 - UUID: UUID_DISK3
    MOUNT: /mnt/timemachine
    FS: ntfs

# General
ansible_ssh_private_key_file: ~/.ssh/authorized_keys/
STORAGE: "{{ DRIVES[0]['MOUNT'] }}"
BACKUP: "{{ DRIVES[1]['MOUNT'] }}"
TIMEMACHINE: "{{ DRIVES[2]['MOUNT'] }}"
DISK_ALERT_LIMIT: 80
USER: USER
USER_PATH: /home/{{ USER }}
TIMEZONE: Europe/Madrid
PUID: 1000 # Run id -u in Raspberry
PGID: 1000 # Run id -g in Raspberry
MEDIA_DIRECTORY_STRUCTURE:
  - shared/torrents/movies
  - shared/torrents/series
  - shared/media/movies
  - shared/media/series
USER_DIRECTORY_STRUCTURE:
  - /scripts/cron
TELEGRAM:
  TOKEN: YOUR_TOKEN # Check README.MD
  CHAT_ID: 1234567

# Containers
CONTAINER_USER: user

SAMBA:
  - USER: USER1
    PASS: 123456
  - USER: USER2
    PASS: 123456

PIHOLE_WEB_PASS: PiholePass

KOPIA_UI_PASS: UIPass
KOPIA_REPO_PASS: RepoPass

TAILSCALE_AUTHKEY: tskey-client-notAReal-OAuthClientSecret1Atawk # Check README.MD
LOCAL_SUBNET: 192.168.0.0/24 #To advertise in Tailscale for remote access